/* Make sure html and body take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Use border-box globally */
    overflow-x: hidden;     /* Prevents accidental horizontal scrollbar */
    height: 100%;
}

/* Wrap all content except footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

.icon-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px;
    gap: 2rem;
    flex-wrap: nowrap;
}

/* Spotify Icon */
.spotify1 i {
    color: #ffffff;
}

/* Home Logo */
.homelogo {
    position: relative;
    display: inline-block;
}

.homelogo i {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.homelogo:hover i {
    color: rgba(182, 194, 204, 0.8);
}

/* Tooltip */
.tooltip-text {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 100;
}

.homelogo:hover .tooltip-text {
    opacity: 1;
}

/* =====================
    Search Bar
===================== */
#wrap {
    width: 300px;
    flex-shrink: 1;
    min-width: 150px;
}

#homeSearch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    position: relative;
    width: 100%;
}

.searchTerm {
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding-left: 50px;
    background-color: rgba(182, 194, 204, 0.1);
    color: white;
}

.searchTerm::placeholder {
    color: rgba(255,255,255,0.6);
}

.searchButton {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* EXPLORE/INSTALL APP BUTTON */

#exploreApp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    height: 36px;
}

.explore {
    border-radius: 25px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.4s ease, transform 0.4s ease, opacity 0.4s;
    border: none;
    position: relative;
    
   
}

.explore:hover {
    transform: scale(1.05);
    background-color: white;
    opacity: 0.9;
    z-index: 100;
    
}


/* UPGRADE TO PREMIUM TOOLTIP */

.tooltip-upgradePremium {
    top: 120%;
    left: 50%;
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.8rem;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: 0.25s;
    z-index: 100;
    
}

.upgradePremium::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    
    
}

.explore:hover .tooltip-upgradePremium {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.20s;
   
}


/* INSTALL APP/ICON*/

#install{
    display: flex;
    justify-content: center;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

/* INSTALL APP ELEMENT */
.installApp {
    background-color: transparent;
    border: none;
    color: white;
    font-size:small;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 6px;
    white-space: nowrap;
    transition: color 0.4s ease;
    
}

/* ICON */
.installApp i {
    color: white;
    transition: color 0.4s ease;

}

/* HOVER ON MAIN ELEMENT */
#install:hover{
    cursor:pointer;
    transform: scale(1.08);
}


.bell-icon {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(1);
}

.bell-wrapper:hover .bell-icon {
    transform: scale(1.2);
    opacity: 0.9;
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
}

.profile-btn {
    cursor: pointer;
}

.profile-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

.profile-btn:hover .profile-img {
    transform: scale(1.05);
    opacity: 0.85;
}

.profile-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background: #121212;
    width: 180px;
    
    display: none;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    z-index: 100;
}

.profile-menu.show {
    display: flex;
}

.profile-menu a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.2s ease;
}

.profile-menu a:hover {
    background: rgba(255,255,255,0.12);
    text-decoration: underline;
}

/* MIDDLE CONTENT */

.main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: row;
    padding-right: 10px;
    gap: 8px;
    margin: 0 5px;

    
}

.main-content {
    background-color: #080707;
    flex-shrink: 1;
    flex-grow: 4;
    min-width: 0;
   
    overflow-y: auto;
    border-radius: 8px;
}



.sideContent {
    width: 230px;
    
    background-color: #080707;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 312px;
    max-width: 500px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 8px;
}

.zeppelin {
    margin-top: 20px;
    display: flex;

    gap: 10px;
    padding: 5px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    

    
}

.zeppelin-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

.zeppelin:hover {
    cursor: pointer;
    background-color: #181818;
}

.image-container {
    display: grid; /* 1. Turn the container into a grid */
    width: 60px;
    height: 60px;
    
    
    /* Define the 2x2 structure */
    grid-template-columns: 1fr 1fr; /* 2 equal columns */
    grid-template-rows: 1fr 1fr;    /* 2 equal rows */
    
}

.image-container img {
    /* Images will automatically resize to fill the grid cells */
    width: 100%; 
    height: 100%;
    object-fit: cover; /* Ensures images fill the cell without distortion */
}


/* TOP-MENU */

.top-menu {
    display: flex;
    position: relative;
   
    align-items: center;
    
    gap: 20px;
    padding-top: 20px;
    justify-content: space-evenly;
}

.library-btn {
    border-radius: 20px;
    padding: 5px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    border: none;
    background-color: #181818;
    color: white;
    font-weight: bold;
    transform: scale(1) translateZ(0);
    transition: all 0.3s ease-in-out;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.library-btn:hover {
    color: #1DB954;
    opacity: 0.7;
    transform: scale(1.02);
}

.create-btn {
    border-radius: 20px;
    padding: 5px;
    height: 35px;
    width: 115px;
    border: none;
    cursor: pointer;
    font-size: bold;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.music-player {
    height: 86px;
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-shrink: 0;
    border: none;
}

.music-player i {
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 1.25em;
    text-align: center;
    
} 

/* MIDDLE BUTTON MUSIC PLAYLIST */

.middle-btn {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.middle-btn i {
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
    position: relative;
}

.middle-btn i:hover {
    transform: scale(1.2);
    opacity: 0.7;

}

.middle-btn i::after{
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    white-space: nowrap;
    border-radius: 4px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.middle-btn i:hover::after {
    opacity: 1;
    visibility: visible;
}

/*  LAST BUTTON - MUTE/UNMUTE AND VOLUME */
.last-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.last-btn i{
    position: relative;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
   
   
}

.last-btn i:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.last-btn i::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 10;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;
}

.last-btn i:hover::after {
    opacity: 1;
    visibility: visible;
}

.volume-slider {
    width: 100px;
    height: 4px;
    cursor: pointer;

    -webkit-appearance: none;
    background: #555;
    border-radius: 2px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    transition: background 0.2s, transform 0.2s;
}

.volume-slider::-webkit-slider-thumb:hover {
    background: #bfcfd1;
    transform: scale(1.1);
}


